{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Database Views{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Encounters</h2>
    <table>
        <tr>
            <th>Pokemon</th>
            <th>Game</th>
            <th>Location</th>
            <th>Chance</th>
            <th>Min Level</th>
            <th>Max Level</th>
            <th>Method</th>
            <th>Condition</th>
        </tr>
    
        {% for encounter in encounters %}
            <tr>
                <td>{{ encounter['name'] }}</td>
                <td>{{ encounter['game_id'] }}</td>
                <td>{{ encounter['location_id'] }}</td>
                <td>{{ encounter['chance'] }}</td>
                <td>{{ encounter['min_level'] }}</td>
                <td>{{ encounter['max_level'] }}</td>
                <td>{{ encounter['method'] }}</td>
                <td>{{ encounter['condition'] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}